.add-option {
  background-color: $light-blue;
  padding: $ms;
  &__error {
    color: $light-white;
    font-style: italic;
    text-align: center;
    padding: $ms;
    padding-top: 0;
  }

  &__input {
    background-color: $blue;
    border-radius: .5rem;
    color: white;
    font-size: $ls;
    flex-grow: 1;
    margin-right: $ms;
    padding: 0 $ms;
    outline: none;
    width: 100%;
  }

  form {
    display: flex;
  }
}