.header {
  background-color: $light-black;
  color: white;
  margin-bottom: $xs;
  padding: $ms 0;

  &__title {
    font-size: $ls;
  }

  &__subtitle {
    color: $light-white;
    font-size: $ms;
    font-weight: 500;
  }
}
